/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(242, 233, 234);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  background: white;
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.footerDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.articleDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: bold;
}

.price {
  color: rgb(100, 124, 202);
  font-weight: bold;
  background: rgb(195, 218, 235);
  padding: 0.35rem;
  border-radius: 0.5rem;
}

.info {
  color: grey;
  margin-bottom: 2rem;
}

.btn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: red 1px solid;
  color: red;
  font-weight: bold;
  background: inherit;
}

.btn:hover {
  background: black;
  color: white;
  border: grey 1px solid;
  cursor: pointer;
}

.link {
  color: rgb(104, 173, 230);
}

.link:hover {
  cursor: pointer;
}
